# build trees
tmp/
out/
waves/
build/
**/*-modelsim/
**/work/
reports/
source/ahb_model.sv
source/alu.sv
source/datapath_decode.sv
source/datapath.sv
source/flex_sreg.sv
source/register_file.sv

# waves & sim artifacts
*.vcd
*.wlf
*.core
transcript
vsim.wlf
modelsim.ini